:root{
  --primary-text-color: #ff8682;
  --background: #3869eb;
  --text-button: #f3f3f3;
}
 
body{
   margin: 0px;
   padding: 0px;
}
 
.container{
  margin: 40px 300px;
 }

.icon{
   display: block;
   background-size: 100% !important;
   background-repeat: no-repeat;
  background-position: center;
  margin:0px 10px;
}

.icon-logo{
   background: url(/images/logo.svg);
   height: 30px;
   width: 30px;
}
 
.logo-principal{
   color: #000;
   font-weight: bold;
   display: flex;
   align-items: center;
 }
 
.login-img{
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   display: flex;
   justify-content: center;
   height: 500px;
 }
 
.login{
   height: 600px;
   display: grid;
   grid-template-columns: 50% 50%;
}
 
.button1 button {
   width: 80%;
   background-color: var(--background);
   border: none;
   color: var(--text-button);
   padding: 15px;
}
 
.signUp-ls{
   display: grid;
   grid-template-columns: 50% 50%;
}

.Contendor-companias{
  display: flex;
  justify-content: space-evenly;
  }
  .companias{
    width: 80px;
    height: 25px;
    border: 1px rgba(56, 105, 235, 1) solid;
    margin-right: 15%;
  }
  
  .companias > img{
    width: 30%;
    padding-left: 25px;
  } 
  
  .parte-link{
    display: flex;
    align-items: center;
    margin-left: 10%;
  }

  .Remember{
    display: flex;
    align-items: center;
  }

  .Remember > img{
    width: 20px;
    height: 20px;
  }

  .Remember > span{
    color: rgba(255, 134, 130, 1);
    margin-left: 10%;
  }

  .Orloginwith{
    color: rgba(49, 49, 49, 1);
    display: flex;
    justify-content: center;
  }

  .parte-link2{
    display: flex;
    align-items: center;
    margin-left: 10%;
  }

  .textoros{
    color: var(--primary-text-color);
  }