:root{
    --text-color: #252B42;
    --second-text-color:#737373;

}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

nav{
    
    display: flex;
    height: 100px;
    padding: 0px 70px 0px 70px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 165, 219);
    
}

nav > h3{
    margin: 0;
    color: var(--text-color);
}

nav a{
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: 600;
    margin-right: 15px;
}

.btn{
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 15px 15px !important;
    background-color: coral;
}
.cuadrados{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

#tercercuadrado{
    background-color: darkslategray;

}