:root{
  --primary-color: blueviolet;
  --tex-color: aliceblue;
  --tex-color2:#000;
}
.Caja-btn{
  display: flex;
  justify-content: space-evenly;
}

.btn{
  border: none;
  padding: 18px 20px;
  border-radius: 10px;
}

.btn-lila{
  background-color: var(--primary-color);
  color: var(--tex-color);
}

.btn-transparente{
  background: transparent;
  color:var(--tex-color2);
  border: 1px solid #000;

}

.Caja-Pokemon{
  display: flex;
  justify-content: space-around;
}

.Pokemon-div > img{
  height: 200px;
  width: 200px;
  border: 3px solid #000;
}

.Pokemon-div > p{
  color: var(--tex-color);
  font-weight: bold;
}

.Pokemon-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Pokemon1{
  background-color: cadetblue;
  margin: 5%;
  box-shadow: -1px 14px 12px 6px;
  border-radius: 10px;
  height: 350px;
  width: 300px;
}

.Pokemon2{
  background-color: cadetblue;
  margin: 5%;
  box-shadow: -1px 14px 12px 6px;
  border-radius: 10px;
  height: 350px;
  width: 300px;
}

.Pokemon3{
  background-color: cadetblue;
  margin: 5%;
  box-shadow: -1px 14px 12px 6px;
  border-radius: 10px;
  height: 350px;
  width: 300px;
}

.Caja-Videos{
  display: flex;
  justify-content: space-evenly;
}

.videos-div > video{
  height: 200px;
  width: 300px;
}

.videos-div > p{
  color: var(--tex-color);
  font-weight: bold;
}

.videos-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Video1{
  background-color: darkkhaki;
  margin: 5%;
  box-shadow: -1px 14px 12px 6px;
  border-radius: 15px;
  height: 350px;
  width: 750px;
}

.Video2{
  background-color: darkkhaki;
  margin: 5%;
  box-shadow: -1px 14px 12px 6px;
  border-radius: 15px;
  height: 350px;
  width: 750px;
}

.Video3{
  background-color: darkkhaki;
  margin: 5%;
  box-shadow: -1px 14px 12px 6px;
  border-radius: 15px;
  height: 350px;
  width: 750px;
}

.Contenedor-Lista{
  display: flex;
  justify-content: space-around;
}

.Lista-div > img{
  height: 100px;
  width: 100px;
}

.Lista-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cajita1{
  margin: 5%;
  border-radius: 25px;
  height: 450px;
  width: 300px;
  border: 1px solid rgb(113, 110, 113);
}

.cajita2{
  margin: 5%;
  border-radius: 25px;
  height: 450;
  width: 300px;
  border: 1px solid rgb(113, 110, 113)
}

.cajita3{
  margin: 5%;
  border-radius: 25px;
  height: 450px;
  width: 300px;
  border: 1px solid rgb(113, 110, 113);
}

.Lista-div > button{
  padding: 10px 30px;
  border-radius: 10px;
  background: transparent;
  color:red;
  border: 1px solid red;

}

.Lista-div > ul{
  list-style: none;
  justify-content: space-around;
}
